#login{
    display: block;
    height: 220px;
}

#signin{
    display: none;
}

#signup{
    display: none;
}

#checkbox{
    display: flex;
}


.category{
    text-align: center;
    border: 2px solid rgb(5 23 50);
    width: 79%;
    margin: 300px;
    margin-bottom: 25px;
    margin-top: -137px;
} 

input{
    display: block;
    background-color: rgb(38, 39, 39);
    color: white;
    width: 433px;
    margin: auto;
    margin-bottom: 7px;
    padding: 15px 39px;
    border: 2px solid #8c96ee;
    border-radius: 8%;
    font-size: larger;
} 

.bttn{
    width: 580px;
    margin: auto;
    justify-items: center;
    align-items: center;
}

.bttn button{
    padding: 17px 25px;
    margin: 2px;
    width: 122px;
    border-radius: 50%;
    background-color: coral;
    border: 1.2px solid rgb(100, 56, 40);
}

.bttn button:hover{
    background-color: aqua;
}

button{
    width: 43%;
    display: inline;
}

#welcome{
    text-align: center;
    align-items: center;
}
